<footer class="footer">
  <div class="d-flex justify-content-between align-items-center">
    <span class="text-muted">© 2025 PolluxUI. All Rights Reserved.</span>
    <div class="d-flex">
      <a href="javascript:;" class="text-muted mx-2">Privacy Policy</a>
      <a href="javascript:;" class="text-muted mx-2">Terms of Service</a>
    </div>
  </div>
</footer>
