<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<style>
.sidebar-menu i {
    font-size: 22px;  /* Increase icon size */
    margin-right: 10px; /* Add space between icon and text */
    vertical-align: middle; /* Align icon with text */
}</style>
<nav class="sidebar sidebar-offcanvas bg-light shadow-sm p-3 rounded mt-5" id="sidebar">
  <ul class="nav flex-column">
    

    <!-- Add Button to Navigate to EditUser Page -->
    <li class="nav-item mb-2">
    <button class="nav-link d-flex align-items-center text-dark fw-bold" onclick="fetchVoiceline(1)" id="editDashBoardButton">
        <i class="bx bx-desktop"></i>
        <span class="menu-title">Dashboard</span>
      </button>
    
      <button class="nav-link d-flex align-items-center text-dark fw-bold" onclick="fetchVoiceline(2)" id="editUserButton">
        <i class="bx bx-user"></i>
        <span class="menu-title">Users</span>
      </button>

      <button class="nav-link d-flex align-items-center text-dark fw-bold" onclick="fetchVoiceline(3)" id="editproductButton">
        <i class="bx bx-store"></i>
        <span class="menu-title">products</span>
      </button>
       

      <button class="nav-link d-flex align-items-center text-dark fw-bold" onclick="fetchVoiceline(4)" id="editcheckoutsButton">
        <i class="bx bx-credit-card"></i>
        <span class="menu-title">checkouts</span>
      </button>

      <button class="nav-link d-flex align-items-center text-dark fw-bold" onclick="fetchVoiceline(5)" id="editDepotButton">
        <i class="bx bx-package"></i>
        <span class="menu-title">Depots and Stocks</span>
      </button>

       <button class="nav-link d-flex align-items-center text-dark fw-bold" onclick="fetchVoiceline(6)" id="editReclamationButton">
        <i class="bx bx-error"></i>
        <span class="menu-title">Reclamations</span>
      </button>

       <button class="nav-link d-flex align-items-center text-dark fw-bold" onclick="fetchVoiceline(7)" id="editBlogButton">
        <i class="bx bx-news"></i>
        <span class="menu-title">blog</span>
      </button>

    <a href="{{ path('admin_statistiques') }}" class="nav-link d-flex align-items-center text-dark fw-bold">
        <i class="bx bx-bar-chart-alt statistics-icon"></i> 
       statistics
    </a>
</li>
  
  

  </ul>
</nav>
<script>
    function fetchVoiceline(id) {
        fetch('/get-voiceline/' + id)
            .then(response => response.json())
            .then(data => {
                if (data.url) {
                    let audio = new Audio(data.url);
                    audio.play();
                }
            })
            .catch(error => console.error('Error fetching voiceline:', error));
    }
</script>
