<nav class="sidebar sidebar-offcanvas m-1" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="typcn typcn-device-desktop menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link justify-between" href="#" >
        <i class="typcn typcn-th-small-outline typcn-user"></i>
        <span class="menu-title">Users</span>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Basic Table</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" >
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">Users</span>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Basic Table</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" >
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">Service 2</span>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="#"></a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" >
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">Service 3</span>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="#"></a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
