<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TuniShop</title>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

</head>
<body>
    {% include 'partials/header.html.twig' %}
    {% block content %}{% endblock %}
    {% include 'partials/footer.html.twig' %}
</body>
</html>
